@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-royal-blue-100: #e8eefb;
  --color-royal-blue-200: #c5d4f5;
  --color-royal-blue-300: #97b1ee;
  --color-royal-blue-400: #6490e5;
  --color-royal-blue-500: #3369ed;
  --color-royal-blue-600: #1a55ec;
  --color-royal-blue-700: #0445ea;
  --color-royal-blue-800: #0336bf;
  --color-royal-blue-900: #022790;
  --color-royal-blue-1000: #011960;
}